
* {
   box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li, figure, figcaption {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   background-color: #F0F4F8;
   font-weight: 300;
}

/* add styles here */
.card {
  display: inline-block; 
  width: calc(33% - 10px);
  margin: 10px 5px;
  background-color: white;
  float: none; 
}
main {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
}
.card {
  width: 32%; 
}
.card {
  border-radius: 8px;
  overflow: hidden;
}

